parameters:
	ignoreErrors:
		-
			message: '#^Property Gupalo\\MonologDbalLogger\\Entity\\Log\:\:\$channel \(string\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Log.php

		-
			message: '#^Property Gupalo\\MonologDbalLogger\\Entity\\Log\:\:\$cmd \(string\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Log.php

		-
			message: '#^Property Gupalo\\MonologDbalLogger\\Entity\\Log\:\:\$context \(array\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Log.php

		-
			message: '#^Property Gupalo\\MonologDbalLogger\\Entity\\Log\:\:\$count \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Log.php

		-
			message: '#^Property Gupalo\\MonologDbalLogger\\Entity\\Log\:\:\$createdAt \(DateTimeImmutable\|null\) is never assigned DateTimeImmutable so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Log.php

		-
			message: '#^Property Gupalo\\MonologDbalLogger\\Entity\\Log\:\:\$exceptionClass \(string\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Log.php

		-
			message: '#^Property Gupalo\\MonologDbalLogger\\Entity\\Log\:\:\$exceptionLine \(string\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Log.php

		-
			message: '#^Property Gupalo\\MonologDbalLogger\\Entity\\Log\:\:\$exceptionMessage \(string\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Log.php

		-
			message: '#^Property Gupalo\\MonologDbalLogger\\Entity\\Log\:\:\$exceptionTrace \(string\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Log.php

		-
			message: '#^Property Gupalo\\MonologDbalLogger\\Entity\\Log\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Log.php

		-
			message: '#^Property Gupalo\\MonologDbalLogger\\Entity\\Log\:\:\$level \(int\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Log.php

		-
			message: '#^Property Gupalo\\MonologDbalLogger\\Entity\\Log\:\:\$levelName \(string\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Log.php

		-
			message: '#^Property Gupalo\\MonologDbalLogger\\Entity\\Log\:\:\$message \(string\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Log.php

		-
			message: '#^Property Gupalo\\MonologDbalLogger\\Entity\\Log\:\:\$method \(string\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Log.php

		-
			message: '#^Property Gupalo\\MonologDbalLogger\\Entity\\Log\:\:\$time \(float\|null\) is never assigned float so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Log.php

		-
			message: '#^Property Gupalo\\MonologDbalLogger\\Entity\\Log\:\:\$uid \(string\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Log.php